.wrapper {
	height:60px;
	margin:10px 0;
	display:flex;
	padding:0 30px;
	background:#fff;
	align-items:center;
	justify-content:space-between;
	.avat {
		height:50px;
		min-width:50px;
		border:1px solid red;
	}
	.name {
		margin-left:20px;
		overflow:hidden;
	}
}