.wrapper {
	display:flex;
	flex-direction:column;
	flex:1;
	.title {
		border:1px solid red;
	}
	.head {
		flex-direction:column;
		display:flex;
		height:300px;
		align-items:center;
		justify-content:space-around;
	}

}