.wrapper {
	flex:1;
	overflow:scroll;
	.head{
		height:30%;
		background: linear-gradient(130deg, #5c7dfe, #83b3ff)
	}
	.footer {
		height:30%;
		display:flex;
		.eve {
			border:1px solid yellow;
			height:150px;
			width:50%;
		}
	}
}