.MessageWrapper {
	// height:50px;
	margin:10px 0;
	display:flex;
	align-items:center;
}
.left {
	justify-content:flex-start;
	padding:0 10px;
	width:100%;
	display:flex;
	align-items:center;
	border:1px solid red;
}
.right {
	justify-content:flex-end;
	padding:0 10px;
	width:100%;
	display:flex;
	align-items:center;
}
.avat{
	display:inline-block;
	height:30px;
	width:30px;
	border:1px solid red;
	border-radius:50%;
}
.msgleft{
	background-color:#ccc;;
	position: relative;
	margin-left:20px;
	box-sizing:border-box;
	padding:5px;
		&:before{
			display:block;
            content: ' ';
            height: 0;
            position: absolute;
            right:100%;
            top:20%;
            border: 5px solid transparent;
            border-right: 5px solid #ccc;;
	}
}
.msgright{
	background-color:#009a61;
	position: relative;
	margin-right:20px;
	max-width:200px;
	word-break:break-all;
	box-sizing:border-box;
	padding:5px;
		&:before{
			display:block;
            content: ' ';
            height: 0;
            position: absolute;
            left:100%;
            top:20%;
            border: 5px solid transparent;
            border-left: 5px solid #009a61;

	}
}